#content{
	margin:0px auto;
}
.content > ul > li{
	padding:10px;
	border-radius:2px;
	box-shadow:1px 0px 5px gray;
	margin:10px 0;
}
.pic_urls{

}
.pic_urls li{
	float:left;
	margin:3px;
	height:125px;
}
.pic_urls img{
	max-height:100%;
}
.user img{
	width:50px;
	height:50px;
	float:left;
	border-radius:2px;
}
.user div{
	float:left;
	margin:0 5px;
}
.user div p{
	margin:4px 0;
}
.sname{
	font-size:1.5em;
}
.des{
	font-size:0.8em;
	color: rgb(121, 128, 119);
}
.icons{
}
.icons span , .icons a{

	float:right;
	cursor:pointer;
	margin:0 7px;
	font-size:0.8em;
	color:gray;
}
/***************/
#drf{
	background:rgba(0,0,0,0.5);
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
}
#drf form{
	margin:0px auto;
	margin-top:100px;
	background:white;
	border-radius:2px;
	width:500px;
	padding:0;
}
#drf textarea{
	resize:none;
	border-radius:2px;
	width:96%;
	margin: 5px 1.5%;
	height:100px;
}
#drf .fa-times{
	float:right;
	font-size:20px;
	margin:5px 5px 0;
}
/******发表说说的那一段*********/
.dp p{
	margin:5px 0;
}
.dp i{
	font-size:33px;
	margin:0 5px;
	cursor:pointer;
}
.dp input[type = 'submit']{
	padding:4px 12px;
}
.dp textarea{
	width:98.5%;
	resize:none;
	border-radius:2px;
	height:70px;
	padding:5px;
}
.dp p > *{
	float:right;
}
#fakebut{
	padding:5px 10px;
	text-decoration:none;
	border:1px solid rgb(205,205,205);
	border-radius:2px;
	box-shadow:1px 1px 1px gray;
	color:black;
	margin:0px 2px 0 0;
}
#fakebut:active{
	color:rgb(50,50,50);
	margin:1px 1px 0 1px;
}
/********************/
